* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 40px;
  margin-left: 20px;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 25px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}
button {
  outline: 0;
  border: 0;
  padding: 16px 50px;
  background-color: #ff5964;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}
ul li {
  list-style: none;
  padding: 12px 8px 12px 50px;
  user-select: none;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url(./Assist/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}
.checked {
  text-decoration: line-through;
}
.checked::before {
  background-image: url(./Assist/multiply.png);
}
.message {
  font-size: 14px;
  padding-left: 20px;
}
ul li span {
  position: absolute;
  width: 40px;
  right: 0;
  height: 40px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s ease-in;
}
ul li span:hover {
  background: rgba(128, 128, 128, 0.46);
}
